<!DOCTYPE html>
<html lang="en">

<head>
	<title>League Vis</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
	<meta name="theme-color" content="#000000">
	<link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
	<link rel="Shortcut Icon" type="image/ico" href="{{ url_for('static', filename='favicon.ico') }}">
	<link href="{{ url_for('static', filename='css/main.3f8d1837.css') }}" rel="stylesheet">
</head>

<body>
	<div id="root"></div>
	<script type="text/javascript" src="{{ url_for('static', filename='js/main.3e9456d4.js') }}"></script>
</body>

</html>
